language: rust
rust:
- stable
- beta
- nightly
sudo: false
install:
- git clone https://github.com/xiph/speexdsp.git
- cd speexdsp && ./autogen.sh && ./configure --prefix=$HOME/installed_speexdsp && make && make install &&
  cd ..
- export PKG_CONFIG_PATH=$HOME/installed_speexdsp/lib/pkgconfig:$PKG_CONFIG_PATH
- export LD_LIBRARY_PATH=$HOME/installed_speexdsp/lib:$LD_LIBRARY_PATH
script:
- cargo test --all-features
- cargo test --no-default-features

- cargo doc
branches:
    except:
    - /.*(.tmp)$/
